<section id="concerts" class="container concerts">
    <div class="concerts-wrapper">
    <h2 class="close-dates">Найближчі концерти</h2>
    <ul class="dates-list">
        <li class="dates-item">
            <p class="places">Місто / Заклад</p>
            <p class="numbers">К-ксть місць</p>
            <p class="concerts-dates">Дата і час</p>
            <a href="#" class="order-tickets">Замовити квиток</a>
        </li>
        <li class="dates-item">
            <p class="places">Київ - Docker-G Pub</p>
            <p class="numbers">250</p>
            <p class="concerts-dates">25.10.2025, 19:00</p>
            <a href="#" class="order-tickets">Замовити квиток</a>
        </li>
        <li class="dates-item">
            <p class="places">Львів - !Festrepublic</p>
            <p class="numbers">400</p>
            <p class="concerts-dates">01.11.2025, 20:00</p>
            <a href="#" class="order-tickets">Замовити квиток</a>
        </li>
        <li class="dates-item">
            <p class="places">Одеса - Зелен театр</p>
            <p class="numbers">700</p>
            <p class="concerts-dates">09.11.2025, 19:30</p>
            <a href="#" class="order-tickets">Замовити квиток</a>
        </li>
        <li class="dates-item">
            <p class="places">Харків - ArtZavod</p>
            <p class="numbers">500</p>
            <p class="concerts-dates">16.11.2025, 19:00</p>
            <a href="#" class="order-tickets">Замовити квиток</a>
        </li>
    </ul>
    </div>
</section>