    <div class="footer-box" >
    <span class="rights">© 2025 «Грим та Грім».<br> Всі права захищені.</span>
    <ul class="social-links">
        <li class="link"><a href="https://www.instagram.com/" class="social" target="_blank" rel="noopener noreferrer">Instagram</a></li>
        <li class="link"><a href="https://www.youtube.com/" class="social" target="_blank" rel="noopener noreferrer">YouTube</a></li>
        <li class="link"><a href="https://www.facebook.com/" class="social" target="_blank" rel="noopener noreferrer">Facebook</a></li>
    </ul>
    </div>
    <div class="info">
        <a href="mailto:booking@latoplay.com" class="email">booking@latoplay.com</a>
        <a href="tel:+380991234567" class="phone">+38(099)123-45-67</a>
    </div>