<section id="history" class="container history">
    <h2 class="history-title">Наша історія</h2>
    <div class="history-content">
    <img src="/src/img/hero.jpg" alt="history image" class="history-image" loading="lazy"/>
    <p class="history-text"><span class="break">«Грим та Грім» народився з бажання створювати музику, яка відчувається серцем. Ми почали свій шлях у маленькій студії в центрі Києва, де кожен акорд, конденсат слово було наповнене емоціями та переживаннями. Це було місце, де народжувались наші перші пісні, де ми вчились грати разом як єдиний організм.</span>
    
<span class="break">За роки нашої діяльності ми виступили на десятках сцен, від невеликих клубів до великих фестивалів. Наша музика - це поєднання традиційного року з сучасними елементами, що робить її унікальною та впізнаваною. Ми не боїмось експериментувати  з звуком, додаючи електронні елементи або народні інструменти.</span>
    
<span class="break">Кожен наш виступ - це не просто концерт, а справжня подія, де ми ділимося своєю енергією за глядачами та створюємо неповторну атмосферу. Ми віримо, що музика має силу обʼєднувати людей, створювати спільноти та надихати на зміни.</span>
    
<span class="break">Наш колектив складається з досвідчених музикантів,кожен з яких привносить свій унікальний стиль та бачення. Максим створює неймовірні гітарні рифи, Олена зачаровує своїм вокалом, а Тарас тримає ритм, який змушує серця битися в унісон з музикою.</span>
    </p>
    <button class="history-toggle" id="history-toggle" aria-expanded="false">
        Читати більше
    </button>
    </div>
    
</section>