<section class="container members">
    <h2 class="members-title">Учасники гурту</h2>
    <ul class="members-list">
        <li class="members-gruop">
            <img src="../../src/img/zaec.jpg" alt="Максим - гітара" class="member-img" loading="lazy">
            <p class="about">Максим - гітара</p>
        </li>
        <li class="members-gruop">
            <img src="../../src/img/monkey-ai.jpg" alt="Олена - вокал" class="member-img" loading="lazy">
            <p class="about">Олена - вокал</p>
        </li>
        <li class="members-gruop">
            <img src="../../src/img/baraban.jpg" alt="Тарас - барабани" class="member-img" loading="lazy">
            <p class="about">Тарас - барабани</p>
        </li>
    </ul>
</section>