<div class="container modal-overlay">
  <button class="item-6 open-close-btn">
    <span class="inner">
      <span class="label">Close</span>
    </span>
  </button>
  <div class="modal-box">
    <nav class="modal-navigation">
      <ul class="modal-nav-list">
        <li class="nav-list-item"><a href="#hero" class="nav-link">Про гурт</a></li>
        <li class="nav-list-item"><a href="#concerts" class="nav-link">Концерти</a></li>
        <li class="nav-list-item"><a href="#history" class="nav-link">Галерея</a></li>
        <li class="nav-list-item"><a href="#contacts" class="nav-link">Контакти</a></li>
      </ul>
    </nav>
  </div>
</div>