.container.hero{
    background-image: url('../img/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
    height: 500px;
    padding-top: 40px;
    transition: max-width 0.3s ease, height 0.3s ease;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution:192dpi){
    .container.hero {
        background-image: url('../img/hero.jpg');
    }
}

.hero-text{
    white-space: pre-wrap;
    margin-bottom: 20px;
}
.hero-text-span{
    font-weight: bold;
    color: aqua;
}

.hero-btn{
    display: block;
    width: fit-content;
    padding: 10px 20px;
    background-color: rgb(227, 185, 15);
    color: black;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
}
.hero-btn:hover,
.hero-btn:active{
    background-color: rgb(255, 213, 0);
}

@media screen and (min-width: 768px){

    .container {
            width: 768px;
        }
        .container.hero{
            max-width: 768px;
            height: 600px;
            padding: 100px;
        }
        .hero-title{
            margin-bottom: 20px;
        }
        .title-hero-text{
            margin-bottom: 20px;
        }
        .hero-text{
            margin-bottom: 100px;
        }
}

@media screen and (min-width: 1158px){
    .container {
            width: 1158px;
            
        }
        .container.hero{
            max-width: 100%;
            width: 100%;
            height: 600px;
            padding: 100px 130px;
        }
        .hero-title{
            font-size: -webkit-xxx-large;
        }
        .hero-text{
                    margin-bottom: 50px;
        }
        .hero-btn{
            margin: 0;
        }
}