.container.members{
    background-color: black;
    padding: 40px 16px;
}
.members-title{
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
}
.members-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.members-gruop {
    border: 1px solid rgb(65 65 65);
    overflow: hidden;
    border-radius: 15px;
}
.about {
    background-color: rgb(47 45 45 / 93%);
    padding: 10px 10px;
    border-top: 1px solid rgb(65 65 65);
    color: rgb(255 255 255 / 50%);
}
.member-img{
    width: 100%;
    max-width: 320px;
    height: 240px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.members-list li:first-child .member-img {
    object-position: center top;
}

@media screen and (min-width: 768px){

    .container.members {
            width: 768px;
        }
        .member-img{
            max-width: 350px;
            height: 350px;
            display: block;
        }
        .members-gruop{
            max-width: 350px;
        }
        .members-list {
            flex-direction: row;
            /*flex-wrap: wrap;*/
            justify-content: center;
            gap: 30px;
        }
}

@media screen and (min-width: 1158px){
    .container {
            width: 1158px;
            
        }
        .member-img{
            max-width: 100%;
            height: 90%;
            display: block;
            
        }
        .members-gruop{
            max-width: 350px;
            max-height: 350px;
        }
        .container.members{
            width: 100%;
           
        }
}