@import url('normalize.css');
@import url('./css/header.css');
@import url('./css/hero.css');
@import url('./css/concerts.css');
@import url('./css/members.css');
@import url('./css/history.css');
@import url('./css/contact.css');
@import url('./css/footer.css');
@import url('./css/modal.css');
@import url('./css/ticket-popup.css');
@import url('./css/scroll.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: white;
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

main {
    flex-grow: 1;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.container {
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px){

    .container {
            width: 768px;
        }
}

@media screen and (min-width: 1158px){
    .container {
            width: 1158px;
            
        }
}

